{% extends base_template %}

{% block content %}

    <div class="hero-unit masthead skinny">
        <h1>Secret Banoffi Pie</h1>
    </div>

    <div class="row" style="margin-top: 30px;">
        <div class="span4">
            <h2>Hello, {{ nickname }}</h2>
            <p>
                This page can only be viewed by an authenticated user. So congratulations!
            </p>
            <p>
                As a reward for your awesomeness, here is the original recipe for Banoffi Pie,
                which was invented at the Hungry Monk pub in England in 1972,
                as it first appeared in <em>‘The Deeper Secrets of the Hungry Monk’</em> in 1974.
            </p>
            <p>
                From <a href="http://www.hungrymonk.co.uk/banoffi_pie/" target="_blank">http://www.hungrymonk.co.uk/banoffi_pie/</a>
            </p>
        </div>
        <div class="span7 offset1">
            <h2>Banoffi Pie Recipe</h2>
            <p>
                serves 8-10 people
            </p>
            <h3>Ingredients</h3>
            <ul>
                <li>12 ounces uncooked shortcrust pastry</li>
                <li>1.5 tins condensed milk (13.5 ounces each)</li>
                <li>1.5 pounds firm bananas</li>
                <li>375ml of double cream</li>
                <li>Half a teaspoon powdered instant coffee</li>
                <li>1 dessertspoon caster sugar</li>
                <li>A little freshly ground coffee</li>
            </ul>
            <h3>Preparation</h3>
            <p>
                Preheat the oven to gas mark 5 (400F, ). Lightly grease a 10in x 1.5in flan tin. Line this with the pastry thinly rolled out. Prick the base all over with a fork and bake blind until crisp. Allow to cool.
            </p>
            <p>
                The secret of this delicious pudding lies in the condensed milk.
            </p>
            <p>
                Immerse the cans unopened in a deep pan of boiling water. Cover and boil for 3 hours making sure that the pan does not boil dry *(see CAUTION).
            </p>
            <p>
                Remove the tin from the water and allow to cool completely before opening. Inside you will find the soft toffee filling.
            </p>
            <h3>Method</h3>
            <p>
                Whip the cream with the instant coffee and sugar until thick and smooth. Now spread the toffee over the base of the flan. Peel and halve the bananas lenghtways and lay them on the toffee. Finally spoon or pipe on the cream and lightly sprinkle over the freshly ground coffee.
            </p>
            <h3>Caution</h3>
            <p>
                It is absolutely vital to top up the pan of boiling water frequently during the cooking of the cans. 3 hours is a long time and if they are allowed to boil dry the cans will explode causing a grave risk to life, limb and kitchen ceilings.
            </p>
            <h3>Hint</h3>
            <p>
                Banoffi is a marvellous “emergency” pudding once you have the toffee mixture in your store cupboard. We therefore suggest that you boil several cans at the same time as they keep unopened indefinitely.
            </p>
        </div>
    </div>

{% endblock %}