<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ title }} - {{ settings.app_title }}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="shortcut icon" sizes="16x16 32x32" href="/assets/img/favicon.ico" />
        <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/assets/img/apple-touch-icon-57x57-precomposed.png" />
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/img/apple-touch-icon-72x72-precomposed.png" />
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/img/apple-touch-icon-114x114-precomposed.png" />
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/img/apple-touch-icon-144x144-precomposed.png" />

        <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
        <style>
            body {
                padding-top: 60px;
            }
        </style>
        <link rel="stylesheet" href="/assets/css/bootstrap-responsive.min.css">
        <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
        <link rel="stylesheet" href="/assets/css/appengineboilerplate.css">
        <link rel="stylesheet" href="/assets/css/main.css">

        <script src="/assets/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>

    </head>
    <body>


        <!-- Sticky footer main content wrap -->
        <div id="wrap">

            <!-- Header -->

            <!-- This code is taken from http://twitter.github.com/bootstrap/examples/hero.html -->

            <div id="primary_nav" class="navbar navbar-inverse navbar-fixed-top">
                <div class="navbar-inner">
                    <div class="container">
                        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </a>
                        <a class="brand" href="/" data-pjax>
                            {{ settings.app_title }}
                        </a>
                        <ul class="nav pull-right" id="main-menu-right">
                            <li id="signin_notice" style="opacity:0;">&nbsp;</li>
                        </ul>
                        <div class="nav-collapse collapse">
                            <ul class="nav" id="main-menu-left">
                                {% for route_config in route_configs %}
                                    {% if route_config.show_nav %}
                                        <li><a
                                            id="header-nav-menu-{{ route_config.name }}"
                                            href="{{ route_config.url|e }}"
                                            {% if route_config.name == active_nav %} class="active"{% endif %}
                                            data-pjax>
                                            {{ route_config.nav_title|e }}
                                        </a></li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div><!--/.nav-collapse -->
                    </div>
                </div>
            </div>
            <!-- End Header -->

            <div id="spinner" class="spinner" style="display:none; opacity: 0;"></div>

            <!-- Content -->
            <div id="content" class="container">
                {%  block content %}{% endblock %}
            </div>
            <!-- End Content -->

            <!-- Footer push -->
            <div id="push"></div>

        </div>
        <!-- End wrap for sticky footer -->

        <!-- Footer -->
        <div id="footer">
            <div class="container">
                <div class="row">

                    <div id="footer-blurb" class="span7 padded">
                        Sticky Footer with socialite.js deferred Javascript sharing buttons.
                    </div>

                    <div id="footer-share" class="span5 padded">

                        <ul class="social-buttons">

                            <li>
                                <div class="hackernews-share-wrapper">
                                    <a href="http://news.ycombinator.com/submitlink?u={{ settings.urls.canonical|escape }}&t={{ settings.app_title|escape }}" class="socialite hackernews-share" data-title="{{ settings.app_title }}" data-url="{{ settings.urls.canonical }}">
                                        <span class="vhidden">Hacker News</span>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <a href="http://twitter.com/share" class="socialite twitter-share" data-text="{{ settings.app_title }}" data-url="{{ settings.urls.canonical }}" data-count="none" rel="nofollow" target="_blank">
                                    <span class="vhidden">Tweet</span>
                                </a>
                            </li>
                            <li>
                                <a href="http://www.facebook.com/sharer.php?u={{ settings.urls.canonical|escape }}&amp;t={{ settings.app_title|escape }}" class="socialite facebook-like" data-href="{{ settings.urls.canonical }}" data-send="false" data-layout="button_count" data-width="51" data-show-faces="false" rel="nofollow" target="_blank">
                                    <span class="vhidden">Share</span>
                                </a>
                            </li>
                            <li>
                                <a href="https://plusone.google.com/_/+1/confirm?hl=en&amp;url={{ settings.urls.canonical|escape }}" class="socialite googleplus-one" data-annotation="none" data-size="medium" data-href="{{ settings.urls.canonical|escape }}" rel="nofollow" target="_blank">
                                    <span class="vhidden">+1</span>
                                </a>
                            </li>
                        </ul>

                    </div>

                </div>
            </div>
        </div>
        <!-- End Footer -->

        <!-- Scripts -->
        <script>
            active_nav = '{{ active_nav }}';
            url_canonical_secure = '{{ settings.urls.canonical_secure }}'
        </script>

        <script>window.jQuery || document.write('<script src="/assets/js/vendor/jquery-1.9.1.min.js"><\/script>')</script>

        <script src="/assets/js/vendor/bootstrap.min.js"></script>

        <script src="/assets/js/vendor/jquery.pjax.js"></script>
        <script src='/assets/js/vendor/socialite.js'></script>
        <script src='/assets/js/appenginebootstrap.js'></script>

        <script src="/assets/js/main.js"></script>

        {% if settings.google_analytics.enabled %}
            <script>
                (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
                ga('create', '{{ settings.google_analytics.id }}', '{{ settings.google_analytics.domain }}');
                ga('send', 'pageview');
            </script>
        {% endif %}

        <!-- End scripts -->

    </body>
</html>
