{% extends base_template %}

{% block content %}

    <div class='row'>
        <div class='span12 cutout text-center' style='min-height: 0;'>
            <p>
                <i class='icon-envelope'></i> &nbsp;Email
            </p>
            <p>
                <a class='biglink' href='mailto:oliver@vitalmedicals.com'>oliver@vitalmedicals.com</a>
            </p>
        </div>
        <div class='span12 cutout text-center' style='min-height: 0;'>
            <p>
                <i class='icon-phone'></i> &nbsp;Call
            </p>
            <p>
                <a class='biglink' href='tel:+1-650-315-3236'>+1 (650) 315 3236</a>
            </p>
        </div>
        <div class='span12 cutout text-center' style='min-height: 0;'>
            <p>
                <i class='icon-building'></i> &nbsp;Visit
            </p>
            <p>
                <a class='biglink' href='http://goo.gl/OdkAyS' target='_blank'>Citizen Space, 425 2nd St, Suite 100, San Francisco, CA 94107</a>
            </p>
        </div>
    </div>

{% endblock %}