{% extends base_template %}

{% set active_nav = "intro" %}
{% set title = "Intro" %}

{% block content %}

    <div class="hero-unit masthead">
        <div class="container">
            <h1>AppEngine Boilerplate</h1>
            <p>The finest web ingredients, blended into a scrumptious boilerplate for GAE.</p>
            <p>
                <a href="https://github.com/SoulAuctioneer/AppEngineBoilerplate" class="btn btn-primary btn-large">Get Cooking!</a>
            </p>
            <ul class="masthead-links">
                <li><a href="http://html5boilerplate.com/">HTML5 Boilerplate</a></li>
                <li><a href="http://twitter.github.io/bootstrap/">Twitter Bootstrap</a></li>
                <li><a href="http://pjax.heroku.com/">PJAX.js</a></li>
                <li><a href="http://socialitejs.com/">socialite.js</a></li>
                <li><a href="http://modernizr.com/">Modernizr</a></li>
                <li><a href="http://twitter.github.io/bootstrap/examples/sticky-footer-navbar.html">Sticky Footer</a></li>
                <li><a href="http://jinja.pocoo.org/docs/">Jinja2</a></li>
                <li><a href="#">Google Data API</a></li>
                <li><a href="#">Google Oauth</a></li>
            </ul>
        </div>
    </div>

    <!-- Example row of columns -->
    <div class="row">
        <div class="span4">
            <h2>Responsive Client</h2>
            <p>HTML5 Boilerplate, Modernizr, Twitter Bootstrap, PJAX.js, socialite.js, and sticky footer, seamlessly blended and buttery smooth.</p>
        </div>
        <div class="span4">
            <h2>Simpler Server</h2>
            <p>A home-made special sauce of decorators and wrappers for Jinja2, OAuth and Google Data API simplifies templating, routing and user sign in.</p>
       </div>
        <div class="span4">
            <h2>Fast</h2>
            <p>Client and server are liberally sprinkled with smart caching treats to keep your site fast and your GAE costs down.</p>
        </div>
    </div>

{% endblock %}