{% extends base_template %}

{% block content %}

    <div class='row'>
        <div class='span3 cutout text-center' style='min-height: 0;'>
            <h1>Oliver Aalami</h1>
            <h2>Chief Executive Officer</h2>
            <p>
                Vascular surgeon at Stanford University, with 14 years of surgical experience
            </p>
        </div>

        <div class='span3 cutout text-center' style='min-height: 0;'>
            <h1>Ash Eldritch</h1>
            <h2>Chief Science Officer</h2>
            <p>
                Software engineer with 14 years’ experience as a technology leader, architect and entrepreneur in enterprise and high-volume web
            </p>
        </div>

        <div class='span3 cutout text-center' style='min-height: 0;'>
            <h1>Aaron Vargas</h1>
            <h2>Chief Technology Officer</h2>
            <p>
                Software engineer with 10 years' experience in enterprise and mobile development
            </p>
        </div>

        <div class='span3 cutout text-center' style='min-height: 0;'>
            <h1>Mohamed Zayed</h1>
            <h2>Chief Medical Officer</h2>
            <p>
                Vascular surgery chief resident with a background in medical and clinical research, and over 10 years of medical experience
        </div>

    </div>

{% endblock %}